/* Colors used:
Background color (White): #ffffff
All Over Text Color (Black): #000000
Footer Bar Color (Alabaster): #ebeae6
Primary Heading Color (Black): #000000
Secondry Heading Color (Japanese Indigo): #2A3E46
Sub-heading Color (Electric Brown): #B8705C
Secondry Heading Color (Cyan Cornflower Blue): #297BB8
Secondry Heading Color (Byzantine): #9D249F
Link Color (Cyan Cornflower Blue): #297BB8
*/


/* Set the box-sizing to border-box on all the elements */
* {
  box-sizing: border-box;
}

header, main{
  padding: 3%;
}

/* Define font-size, font-weight and line-height for all your default text elements (body, headers, etc.) */
Body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;

  font-weight: 300;
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  vertical-align: top;
}

h3 {
  font-size: 1.60rem;
  font-weight: 400;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}
ul{
  margin: 0;
}

/* Create link stylings */
a {
  color: black;
  text-decoration: none;
  /* No Underlining link with blue color*/
}

a:visited {
  color: black;
  /* visited link with Blue-Violet*/
}

a:hover,
a:focus {
  color: gray;
  text-decoration: none;
  /* Underlining when hovering/focus with red color*/
}

a:active {
  color: #994c30;
  /* selected link with blue color*/
}

/* Create a button styling for the “Learn more”, and view case study buttons */
.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block */
  background-color: #000000;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 0.6rem 2.6rem;
  border-radius: 4px;
  border: 1px solid #000000;
  /* width of the border, type, color */
  transition: 0.2s opacity;
  margin: 10px;
}

.button:visited {
  color: #ffffff;
}

.button:hover {
  background-color: #ebeae6;
  color: #000000;
}

.div_button{
  text-align: center;
}

/* Create a button styling for the “View full style guide” button */
.button.styleguide {
  background-color: #B8705C;
  border-color: #B8705C;
}

.button.styleguide:hover {
  background-color: #2A3E46;
  border-color: #2A3E46;
  color: #ffffff;
}

/* Set a 100% width for images */
img {
  width: 100%;
}

/* Add CSS styling to the header and navigation bar */
header {
  text-align: center;
  padding: 10px 0;
}

.logo {
  max-width: 10%;
  display: inline-block;
  margin-right: 30px;
  margin-left: 10px;
  float: left;

}

.designer {
  display: inline-block;
  margin-right: 80px;
}

nav {
  display: inline-block;
  width: 100%;
  margin-top: 15px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

/* Add CSS styling to the hero section */
#hero_section {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.my_name{
  text-align: center;
  margin-bottom: 0px
}

.pic-div{
  text-align: center;
}
/* 1 rem= 16px */
#hero_section h1 {
  margin: 0px;
  padding: 0.6rem 0;
  text-align: center;
}

#hero_section p {
  text-align: left;
}

#my_circle_pic{
  border-radius: 50%;
  border: solid 5px #297BB8;
  width: 55%;
}


/* Add CSS styling to the work section */
#work_section {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#work_section h3 {
  margin-top: 20px;
  margin-bottom: 0;
  padding:  0;
  text-align: center;
  font-weight: bold;
}

#work_section h4 {
  margin: 0px;
  text-align: center;
}

#work_section p {
  text-align: left;
}

/* Add CSS styling to your footer (contact) section.*/

footer{
  background-color: #ebeae6;
  padding: 5px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}
footer>div {
  display: block;
  clear: both;
}

footer>div>div>ul {
  display: block;
  list-style-type: none;
  padding: 0;
}

footer>div>div>ul>li {
  display: inline-block;
}

footer>div>div>ul>li>a {
  padding: 0 15px;
  text-transform: capitalize;
  text-decoration: underline;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}
.contact_detail{
margin-top: 1%;
}

.Copyright{
  padding: 5px 0;
}

/* Style the layouts for About page */
#my_square_pic{
  border-radius: 4px;
  border: solid 5px #297BB8;
  width: 60%;
}

#about_me {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#about_me  p {
  text-align: left;
}

#about_me  h1{
  font-size: 1.80rem;
  margin-bottom: 10px;
  margin-top: 25px;
}

#DT_process{
  text-align: center;
}

#DT_process > h1{
  font-size: 1.40rem;
  margin-bottom: 25px;
  margin-top: 25px;
}

#my_tool{
  text-align: center;
  margin-bottom: 30px;

}

#my_tool > h1{
  font-size: 1.40rem;
  margin-bottom: 25px;
  margin-top: 25px;

}

/* Style the layouts for Perfect Home Case Study page */
#main_image{
  margin-top: 30px;
}

#styleguide_button{
  text-align: center;
}

#body_perfecthome_page h1{
  color: #2A3E46
}

.key_features h3{
  background-color: #2A3E46;
  color:#ffffff;
  padding: 30px 30px;
  text-align: left;
  border-radius: 8px;
}

.sub_headings h3{
  color: #B8705C;
}

/* 1 rem= 16px */
.responsive_design h4{
  border-bottom: solid 3px #B8705C;
  width: 7rem;
  font-weight: bold;
}

#tab_img{
  margin-bottom: 30px;
}

[class*="col-"] {
 float: left;
 display: block;
 }

.row::after {
 content: "";
 clear: both;
 display: table;
}

/* Add  two media queries: one for medium screen sizes and one for large screen sizes for the breakpoints,
and add code inside of your media queries to ensure your site is responsive and looks good on any device */

/* Medium devices (640px and larger)*/
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding:20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  .logo{
    width: 8%;
    margin-right: 30px;
  }
  .col-md-6 {
    width: 50%;
  }
  footer>div{
    clear:none;
  }
  .left-col{
    width:50%;
    padding:0;
  }
  .right-col{
    width:50%;
    padding:0;
    padding-left: 40px;
  }
  #my_circle_pic{
    width: 80%
  }
  img {
    width: 90%;
  }
  #my_square_pic{
    width: 45%;
    margin-top: 40px;
  }
  #about_me  p{
    padding: 0 20px;
  }
  #about_me  h1{
    font-size: 2rem;
    margin-top: 40px;
  }
  #DT_process > h1{
    font-size: 1.6rem;
  }
  #my_tool > h1{
    font-size: 1.6rem;
  }

}

/* Larger devices (1024px or larger)*/
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding:20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
    margin-right: 50px;
  }
  .col-lg-5 {
    width: 50%;
    margin: auto;
  }
  .logo{
    width: 4%;
    margin-right: 30px;
  }

  #my_circle_pic{
    width: 50%
  }
  footer>div{
    clear:none;
  }
  .ux_designer{
    text-align: left;
    padding-left: 5%;
    padding-top: 1%;
    float: left;
    display: inline-block;
  }
  .contact_detail{
    text-align: left;
    padding-right: 5%;
    padding-top: 1%;
    float: right;
    display: inline-block;
    margin: 0;
  }
  .left-col{
   width:60%;
   padding:0;
 }
 .right-col{
   width:40%;
   padding:0;
   padding-left: 40px;
 }
 img {
   width: 80%;
 }
 #about_me  p{
   padding: 0 20px;
 }
 #my_square_pic{
   width: 30%;
   margin-top: 10px;
 }
 #DT_process > h1{
   font-size: 2rem;
 }
 #my_tool > h1{
   font-size: 2rem;
 }
}


/* Make changes to the header. It should be centered, and the logo and navigation menu should be horizontally aligned.*/

/* Use a 2-column layout. On your home page, you should use a 2-column layout for your projects, and on your about page,
 you should use a 2-column layout for the “Skills & Tools” section. */




/* .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
} */ */
