/* Colors used:
Background color (White): #ffffff
All Over Text Color (Black): #000000
Footer Bar Color (Alabaster): #ebeae6
Primary Heading Color (Black): #000000
Secondry Heading Color (Japanese Indigo): #2A3E46
Sub-heading Color (Electric Brown): #B8705C
Secondry Heading Color (Cyan Cornflower Blue): #297BB8
Secondry Heading Color (Byzantine): #9D249F
Link Color (Cyan Cornflower Blue): #297BB8
*/


/* Set the box-sizing to border-box on all the elements */
* {
  box-sizing: border-box;
}

header, main{
  padding: 3%;
}

/* Define font-size, font-weight and line-height for all your default text elements (body, headers, etc.) */
Body {
  background-color: ;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/* Create link stylings */
a {
  color: black;
  text-decoration: none;
  /* No Underlining link with blue color*/
}

a:visited {
  color: black;
  /* visited link with Blue-Violet*/
}

a:hover,
a:focus {
  color: gray;
  text-decoration: none;
  /* Underlining when hovering/focus with red color*/
}

a:active {
  color: #994c30;
  /* selected link with blue color*/
}

/* Create a button styling for the “Learn more”, and view case study buttons */
.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block */
  background-color: #000000;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 0.6rem 2.6rem;
  border-radius: 4px;
  border: 1px solid #000000;
  /* width of the border, type, color */
  transition: 0.2s opacity;
  margin: 10px;
}

.button:visited {
  color: #ffffff;
}

.button:hover {
  background-color: #ebeae6;
  color: #000000;
}

/* Create a button styling for the “View full style guide” button */
.button.styleguide {
  background-color: #B8705C;
  border-color: #B8705C;
}

.button.styleguide:hover {
  background-color: #2A3E46;
  border-color: #2A3E46;
  color: #ffffff;
}

/* Set a 100% width for images */
img {
  width: 100%;
}

/* Add CSS styling to the header and navigation bar */
header {
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
}

.logo {
  max-width: 10%;
  text-align: center;
  display: inline-block;
  position: relative;
  float: left;
  margin-right: 40px;
  margin-left: 10px;
}

.designer {
  display: inline-block;
  position: relative;
  float: left;
}

nav {
  display: block;
  clear: both;
}

nav>ul {
  display: block;
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

/* Add CSS styling to the hero section */
#hero_section {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero_section h1 {
  margin: 0px;
  padding: 0.6rem 0;
  text-align: center;
}

#hero_section p {
  text-align: left;
}

#my_circle_pic{
  border-radius: 50%;
  border: solid 5px #297BB8;
  width: 60%;
}

/* Add CSS styling to the work section */
#work_section {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#work_section h3 {
  margin: 0px;
  padding: 0.6rem 0;
  text-align: center;
  font-weight: bold;
}

#work_section h4 {
  margin: 0px;
  text-align: center;
}

#work_section p {
  text-align: left;
}

/* Add CSS styling to your footer (contact) section.*/

footer{
  background-color: #ebeae6;
  padding: 5px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}
footer>div {
  display: block;
  clear: both;
}

footer>div>ul {
  display: block;
  list-style-type: none;
  padding: 0;
}

footer>div>ul>li {
  display: inline-block;
}

footer>div>ul>li>a {
  padding: 0 15px;
  text-transform: capitalize;
  text-decoration: underline;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}

.Copyright{
  padding: 5px 0;
}

/* Style the layouts for About page */
#my_square_pic{
  border-radius: 4px;
  border: solid 5px #297BB8;
  width: 60%;
}

#about_me {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#about_me  p {
  text-align: left;
}

#DT_process{
  text-align: center;
}

#my_tool{
  text-align: center;
  margin-bottom: 30px;
}

/* Style the layouts for Perfect Home Case Study page */
#main_image{
  margin-top: 30px;
}

#styleguide_button{
  text-align: center;
}

#body_perfecthome_page h1{
  color: #2A3E46
}

.key_features h3{
  background-color: #2A3E46;
  color:#ffffff;
  padding: 30px 30px;
  text-align: left;
  border-radius: 8px;
}

.sub_headings h3{
  color: #B8705C;
}

/* 1 rem= 16px */
.responsive_design h4{
  border-bottom: solid 3px #B8705C;
  width: 7rem;
  font-weight: bold;
}

#tab_img{
  margin-bottom: 30px;
}
